body {
  margin: 0 0;
  padding: 0 0;
  font-family: 'Kosugi Maru', sans-serif;
  font-family: 'Stick No Bills', sans-serif;
  background-color: rgb(255, 255, 255);
}

.btn a,
.content p,
.game p,
.picture p,
.cooking p,
.tutorial p,
tr td {
  font-family: 'Kosugi Maru', sans-serif;
  color: rgb(69, 69, 69);
  margin-top: 8px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 750px;
  background-color: #46965e;
  text-align: center;
  padding: 150px;
  margin-bottom: 100px;
}

.logo {
  width: 280px;
  height: 230px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.logo h1 {
  color: white;
  font-weight: normal;
}

.content {
  text-align: center;
}

.description p {
  display: inline;
  padding: 10px 20px;
  font-size: 20px;
  border-bottom: 3px solid #46965e;
}

header .logo img {
  width: 160px;
  height: auto;
  border-radius: 300px;
  margin-bottom: 20px;
}

.game img, .picture img, .cooking img, .tutorial img{
  width: 300px;
  height: 300px;
}

section {
  margin-bottom: 90px;
}

section {
  padding-top: 80px;
}

#profile h2 {
  margin-bottom: 50px;
}

#profile {
  margin-bottom: 110px;
}

.btn {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}

.btn a {
  color: white;
  background-color: #6db683;
  padding: 15px 0px;
  display: block;
  border-radius: 4px;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li a {
  color: white;
}

.game-items,
.picture-items,
.cooking-items,
.tutorial-items {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

footer {
  width: 100%;
  height: 250px;
  background-color: #75e494;
}

.filter img {
  width: 100%;
  height: 250px;
  mix-blend-mode: multiply;
  position: absolute;
  margin-left: -1px;
}

footer .icons {
  display: flex;
  justify-content: center;
  padding: 60px;
  position: relative;
}

footer .icons a i {
  margin: 0 30px;
  font-size: 30px;
  color: #46654a;
}

footer .icons a:hover i {
  color: rgb(200, 200, 200);
}

footer p {
  text-align: center;
}

.main h2 {
  background-color: #4d875f;
  color: white;
  width: 300px;
  text-align: center;
  border-radius: 20px;
  margin: 0 auto;
}

.main h3 {
  border: 2px solid #46965e;
  border-radius: 14px;
  color: rgb(69, 69, 69);
}

#news h2 {
  margin-bottom: 50px;
}

#news table {
  width: 1000px;
  margin: 0 auto;
  font-size: 14px;
}

#news table th {
  width: 15%;
  border-bottom: 1px solid #dddddd;
  padding: 10px 0;
}

#news table td {
  width: 85%;
  border-bottom: 1px solid #dddddd;
  padding: 10px 0;
}
